<!DOCTYPE html>
<html>
<head>
	<title>Quidditch</title>
	<link rel="stylesheet" type="text/css" href="/css/xyz.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>
<body>

<header>

<nav>
	<div class="logo"> <h1 class="font-size: 20px;"> Quidditch Sports </h1> </div>
	<div class="menu">
		<a href="/" style="font-size: large;">Home</a>
		<a href="/gallery">Gallery</a>
		<a href="/auth/login">Login</a>
		<a href="/auth/register">Register</a>
	</div>
</nav>

	<main>
		<section>
			<h3>Welcome to Quidditch Sports</h3>
			<h1>DO COME & look upon <span class="change_content"> </span> <span style="margin-top: -10px;"> | </span> </h1>
			<p>"Have Fun !!"</p>
		</section>
	</main>


</header>
</body>
</html>